@font-face {
  font-family: 'Nine Studios';
  src: url("../fonts/Lato-Regular.ttf"); }

@font-face {
  font-family: 'Nine Studios';
  src: url("../fonts/Lato-Italic.ttf");
  font-style: italic; }

@font-face {
  font-family: 'Nine Studios';
  src: url("../fonts/Lato-Hairline.ttf");
  font-weight: 100; }

@font-face {
  font-family: 'Nine Studios';
  src: url("../fonts/Lato-HairlineItalic.ttf");
  font-style: italic;
  font-weight: 100; }

@font-face {
  font-family: 'Nine Studios';
  src: url("../fonts/Lato-Light.ttf");
  font-weight: 300; }

@font-face {
  font-family: 'Nine Studios';
  src: url("../fonts/Lato-LightItalic.ttf");
  font-style: italic;
  font-weight: 300; }

@font-face {
  font-family: 'Nine Studios';
  src: url("../fonts/Lato-Bold.ttf");
  font-weight: 700; }

@font-face {
  font-family: 'Nine Studios';
  src: url("../fonts/Lato-BoldItalic.ttf");
  font-style: italic;
  font-weight: 700; }

@font-face {
  font-family: 'Nine Studios';
  src: url("../fonts/Lato-Black.ttf");
  font-weight: 900; }

@font-face {
  font-family: 'Nine Studios';
  src: url("../fonts/Lato-BlackItalic.ttf");
  font-style: italic;
  font-weight: 900; }

/****************************************************
* GRADIENT											*
****************************************************/
html {
  font-family: helvetica, sans-serif;
  font-size: 16px;
  line-height: 1.5; }

a {
  text-decoration: none;
  cursor: pointer; }

html {
  font-family: 'Nine Studios', helvetica, sans-serif; }

a {
  color: #245CB3; }
  a:hover {
    color: #13305e; }

img {
  max-width: 100%;
  display: block; }

section {
  border-bottom: 5px solid #EBEBEB;
  position: relative; }
  section:last-child {
    border-bottom: none; }
  section:nth-child(even) .sectionImageContainer {
    float: right; }
  section:nth-child(even) .sectionContent {
    left: 0;
    right: auto; }
  @media (min-width: 56.25em) {
    section:nth-child(even) .sectionTableCell {
      padding-left: 1rem;
      padding-right: 4rem; } }

.homeHeroText, .sectionContent {
  margin: 0 auto;
  padding: 1rem 1rem 2rem 1rem;
  max-width: 30rem; }

.sectionWrapper {
  max-width: 60rem;
  margin: 0 auto;
  position: relative; }
  .sectionWrapper:before, .sectionWrapper:after {
    content: " ";
    /* 1 */
    display: table;
    /* 2 */ }
  .sectionWrapper:after {
    clear: both; }

.sectionContent {
  max-width: 60rem;
  margin: 0 auto;
  padding: 4rem 1rem;
  font-weight: 300; }
  .sectionContent p {
    margin-bottom: 0; }
    @media (min-width: 40.625em) {
      .sectionContent p {
        font-size: 1.25em; } }
  @media (min-width: 40.625em) {
    .sectionContent {
      position: absolute;
      right: 0;
      width: 40%;
      box-sizing: border-box;
      bottom: 0;
      top: 0;
      padding: 0; } }
  @media (min-width: 40.625em) and (min-width: 56.25em) {
    .sectionContent .sectionTableCell {
      padding-left: 4rem; } }

.sectionContentTitle {
  margin: 0 0 1rem 0;
  line-height: 1;
  font-size: 1.25em;
  font-weight: 300;
  text-transform: uppercase; }
  @media (min-width: 40.625em) {
    .sectionContentTitle {
      font-size: 1.5em; } }

.sectionImageContainer {
  position: relative; }
  @media (min-width: 40.625em) {
    .sectionImageContainer {
      height: 22rem;
      width: 60%;
      background-size: cover;
      background-position: 50%; } }

.sectionImage {
  width: 100%;
  height: auto;
  max-width: none; }
  @media (min-width: 40.625em) {
    .sectionImage {
      display: none; } }

.homeHeroWrap {
  max-width: 60rem;
  margin: 0 auto;
  position: relative; }

.homeHeroImage {
  padding: 2rem 0;
  display: block; }
  @media (min-width: 40.625em) {
    .homeHeroImage {
      width: 50%;
      padding-left: 1rem;
      box-sizing: border-box; } }
  @media (min-width: 48.75em) {
    .homeHeroImage {
      width: calc(100% - 24rem); } }

@media (min-width: 28.125em) {
  .homeHeroSquareImage {
    display: none; } }

@media (min-width: 40.625em) {
  .homeHeroSquareImage {
    display: inherit; } }

.homeHeroFullImage {
  display: none; }
  @media (min-width: 28.125em) {
    .homeHeroFullImage {
      display: inherit; } }
  @media (min-width: 40.625em) {
    .homeHeroFullImage {
      display: none; } }

.homeHeroText {
  font-weight: 300;
  font-size: 1.25em; }

@media (min-width: 40.625em) {
  .homeHeroTextContainer {
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    width: 50%; } }

@media (min-width: 48.75em) {
  .homeHeroTextContainer {
    width: 24rem; } }

@media (min-width: 40.625em) {
  .sectionTable {
    display: table;
    height: 100%; }
  .sectionTableRow {
    display: table-row;
    height: 100%; }
  .sectionTableCell {
    display: table-cell;
    vertical-align: middle;
    padding: 1rem; } }

.homeHeroSignup {
  display: none;
  font-size: 1rem;
  text-align: center;
  padding-top: 1rem; }
  @media (min-width: 56.25em) {
    .homeHeroSignup {
      display: inherit; } }
  .homeHeroSignup .signupText {
    font-weight: normal;
    font-size: 0.9em; }

.signupSection {
  padding: 2rem 1rem;
  text-align: center; }
  @media (min-width: 56.25em) {
    .signupSection {
      display: none; } }
  .signupSection .register {
    display: none; }
    @media (min-width: 28.125em) {
      .signupSection .register {
        display: block; } }

@media (min-width: 28.125em) {
  .registerLink {
    display: none; } }

.signup {
  text-align: center;
  max-width: 28rem;
  margin: 0 auto; }

.pageHome .inputs {
  display: none; }
  .pageHome .inputs:before, .pageHome .inputs:after {
    content: " ";
    /* 1 */
    display: table;
    /* 2 */ }
  .pageHome .inputs:after {
    clear: both; }
  @media (min-width: 28.125em) {
    .pageHome .inputs {
      display: block; } }
  .pageHome .inputs .inputGroup {
    width: calc(50% - 0.5rem);
    float: left;
    text-align: left; }
    .pageHome .inputs .inputGroup:last-child {
      float: right; }
    .pageHome .inputs .inputGroup label {
      display: block;
      font-size: 0.8em;
      font-weight: normal; }
    .pageHome .inputs .inputGroup input, .pageHome .inputs .inputGroup button {
      display: block;
      width: 100%;
      box-sizing: border-box;
      border-radius: 0.5rem;
      padding: 0.5rem;
      border: 1px solid #CECECE;
      background: #E4E4E4; }

.pageHome .signup .inputSubmit {
  background-color: #203448;
  color: white;
  line-height: 1;
  font-size: 1.25em;
  padding: 0.5em 2em;
  border-radius: 1.125em;
  border: none; }
  @media (min-width: 28.125em) {
    .pageHome .signup .inputSubmit {
      width: 100%;
      margin-top: 1rem;
      border-radius: 0.5rem; } }

.signupText {
  max-width: 18rem;
  margin: 1rem auto 0 auto; }

#slideshow {
  margin: 0;
  position: absolute;
  width: 100%;
  height: 100%;
  overflow: hidden;
  z-index: 0;
  background-color: black; }
  #slideshow img {
    position: absolute;
    display: block;
    z-index: 2;
    max-width: none; }
    #slideshow img:first-child {
      z-index: 1; }
  #slideshow h1 {
    color: white;
    text-align: center;
    margin: 0;
    position: relative;
    top: 50%;
    transform: translateY(-50%);
    font-weight: 100;
    font-size: 3em;
    -webkit-animation-duration: 5s;
    -webkit-animation-name: fadeInFromNone; }

@-webkit-keyframes fadeInFromNone {
  0% {
    opacity: 0; }
  1% {
    opacity: 0; }
  100% {
    opacity: 1; } }

#startup {
  width: 100%;
  height: 100%;
  position: absolute;
  z-index: 2;
  background-color: black; }

#account {
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: 3; }

#accountMenu {
  max-width: 30rem;
  margin: 1rem auto;
  padding: 1rem;
  background-color: #EFEFEF;
  border-radius: 0.5rem;
  border: 1px solid #CACACA; }
  .loggedIn:not(.noPhotos) #accountMenu {
    display: none; }

#settings {
  display: block;
  position: absolute;
  top: 1rem;
  right: 1rem;
  z-index: 4;
  color: white;
  line-height: 1;
  font-size: 2em; }
