html {
	font-family: helvetica, sans-serif;
	font-size: $baseFontsize;
	line-height: 1.5;
}

a {
	text-decoration: none;
	cursor: pointer;
}

@mixin whiteTextDefault() {
	font-weight: lighter;
	color: white;

	a {
		color: white;

		&:hover {
			color: white;
		}
	}
}

@function stripUnits($number) {
	@return $number / ($number * 0 + 1);
}

@mixin floatNav() {
	> ul {
		list-style: none;
		margin: 0;
		padding: 0;

		> li {
			display: block;
			float: left;
		}

		a {
			display: block;
		}
	}
}

@mixin inlineNav() {
	> ul {
		list-style: none;
		margin: 0;
		padding: 0;

		> li {
			display: inline-block;
		}
	}

	a {
		display: block;
	}
}

@mixin clearFix() {
	&:before,
	&:after {
		content: " "; /* 1 */
		display: table; /* 2 */
	}

	&:after {
		clear: both;
	}
}

@mixin contentPadding() {
	padding-left: $globalPadding;
	padding-right: $globalPadding;
}

@mixin absoluteFill() {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
}


$bigBorderSize: 5px;
$borderGray: #EBEBEB;
$bigGrayBorder: $bigBorderSize solid $borderGray;

$headerColour: #203448;
$borderRadius: 5px;

$postLoopSidebarSpacing: 1rem;
$postLoopWidth: 70%;

$linkColour: #245CB3;

@mixin wrap() {
	max-width: 60rem;
	margin: 0 auto;
}

html {
	font-family: 'Nine Studios', helvetica, sans-serif;
}

a {
	color: $linkColour;

	&:hover {
		color: darken(#245CB3, 20%);
	}
}

img {
	max-width: 100%;
	display: block;
}

@mixin modal {
	max-width: 30rem;
	margin: $globalPadding auto;
	padding: $globalPadding;
	background-color: #EFEFEF;
	border-radius: $halfPadding;
	border: 1px solid #CACACA;
}

$homeHerofirstBreakPoint: 450px;
$homeHeroSecondBreakPoint: 650px;
$homeHeroThirdBreakPoint: 780px;
$homeHeroFourthBreakPoint: 900px;
$homeHeroTextMaxWidth: 24rem;

section {
	border-bottom: $bigGrayBorder;
	position: relative;

	&:last-child {
		border-bottom: none;
	}

	&:nth-child(even) {
		.sectionImageContainer {
			float: right;
		}

		.sectionContent {
			left: 0;
			right: auto;
		}

		.sectionTableCell {
			@include mq($from: $homeHeroFourthBreakPoint) {
				padding-left: $globalPadding;
				padding-right: $doublePadding * 2;
			}
		}
	}
}

.homeHeroText, .sectionContent {
	margin: 0 auto;
	padding: $globalPadding $globalPadding $doublePadding $globalPadding;
	max-width: 30rem;
}

.sectionWrapper {
	@include wrap;
	@include clearFix;
	position: relative;
}

.sectionContent {
	@include wrap;
	padding: ($doublePadding * 2) $globalPadding;
	font-weight: 300;

	p {
		margin-bottom: 0;

		@include mq($from: $homeHeroSecondBreakPoint) {
			font-size: 1.25em;
		}
	}

	@include mq($from: $homeHeroSecondBreakPoint) {
		position: absolute;
		right: 0;
		width: 40%;
		box-sizing: border-box;
		bottom: 0;
		top: 0;
		padding: 0;

		.sectionTableCell {
			@include mq($from: $homeHeroFourthBreakPoint) {
				padding-left: $doublePadding * 2;
			}
		}
	}
}

.sectionContentTitle {
	margin: 0 0 $globalPadding 0;
	line-height: 1;
	font-size: 1.25em;
	font-weight: 300;
    text-transform: uppercase;

    @include mq($from: $homeHeroSecondBreakPoint) {
    	font-size: 1.5em;
    }
}

.sectionImageContainer {
	position: relative;

	@include mq($from: $homeHeroSecondBreakPoint) {
		height: 22rem;
		width: 60%;
		background-size: cover;
		background-position: 50%;
	}
}

.sectionImage {
	width: 100%;
	height: auto;
    max-width: none;

    @include mq($from: $homeHeroSecondBreakPoint) {
    	display: none;
    }
}

.homeHeroWrap {
	@include wrap;
	position: relative;
}

.homeHeroImage {
	padding: $doublePadding 0;
	display: block;

	@include mq($from: $homeHeroSecondBreakPoint) {
		width: 50%;
		padding-left: $globalPadding;
		box-sizing: border-box;
	}

	@include mq($from: $homeHeroThirdBreakPoint) {
		width: calc(100% - #{$homeHeroTextMaxWidth});
	}
}

.homeHeroSquareImage {

	@include mq($from: $homeHerofirstBreakPoint) {
		display: none;
	}

	@include mq($from: $homeHeroSecondBreakPoint) {
		display: inherit;
	}
}

.homeHeroFullImage {
	display: none;

	@include mq($from: $homeHerofirstBreakPoint) {
		display: inherit;
	}

	@include mq($from: $homeHeroSecondBreakPoint) {
		display: none;
	}
}

.homeHeroText {
	font-weight: 300;
	font-size: 1.25em;
}

.homeHeroTextContainer {
	@include mq($from: $homeHeroSecondBreakPoint) {
		position: absolute;
		top: 0;
		bottom: 0;
		right: 0;
		width: 50%;
	}

	@include mq($from: $homeHeroThirdBreakPoint) {
		width: $homeHeroTextMaxWidth;
	}
}


@include mq($from: $homeHeroSecondBreakPoint) {
	.sectionTable {
		display: table;
		height: 100%;
	}

	.sectionTableRow {
		display: table-row;
		height: 100%;
	}

	.sectionTableCell {
		display: table-cell;
		vertical-align: middle;
		padding: $globalPadding;
	}
}

.homeHeroSignup {
	display: none;
	font-size: 1rem;
	text-align: center;
	padding-top: $globalPadding;

	@include mq($from: $homeHeroFourthBreakPoint) {
		display: inherit;
	}

	.signupText {
		font-weight: normal;
		font-size: 0.9em;
	}
}

.signupSection {
	padding: $doublePadding $globalPadding;
	text-align: center;

	@include mq($from: $homeHeroFourthBreakPoint) {
		display: none;
	}

	.register {
		display: none;

		@include mq($from: $homeHerofirstBreakPoint) {
			display: block;
		}
	}
}

.registerLink {
	@include mq($from: $homeHerofirstBreakPoint) {
		display: none;
	}
}

.signup {
	text-align: center;
    max-width: 28rem;
    margin: 0 auto;
}

$signupInputRadius: $globalPadding / 2;

.pageHome .inputs {
	@include clearFix;
	display: none;

	@include mq($from: $homeHerofirstBreakPoint) {
		display: block;
	}

	.inputGroup {
		width: calc(50% - #{$globalPadding/2});
		float: left;
		text-align: left;

		&:last-child {
			float: right;
		}

		label {
			display: block;
			font-size: 0.8em;
			font-weight: normal;
		}

		input, button {
			display: block;
			width: 100%;
			box-sizing: border-box;
			border-radius: $signupInputRadius;
			padding: $globalPadding / 2;
			border: 1px solid #CECECE;
		    background: $grayInputColour;
		}
	}
}

$signupButtonFontSize: 1.25em;
$signupButtonPadding: 0.5em;

.pageHome .signup .inputSubmit {
	background-color: $headerColour;
	color: white;
	line-height: 1;
	font-size: $signupButtonFontSize;
	padding: $signupButtonPadding 2em;
	border-radius: ($signupButtonFontSize + ($signupButtonPadding * 2)) / 2;
	border: none;

	@include mq($from: $homeHerofirstBreakPoint) {
		width: 100%;
		margin-top: $globalPadding;
		border-radius: $signupInputRadius;
	}
}

.signupText {
	max-width: 18rem;
	margin: $globalPadding auto 0 auto;
}

$topImageLevel: 2;
$slideshowBackgroundColor: black;

#slideshow {
	margin: 0;
	position: absolute;
	width: 100%;
	height: 100%;
	overflow: hidden;
	z-index: 0;
	background-color: $slideshowBackgroundColor;

	img {
		position: absolute;
		display: block;
		z-index: $topImageLevel;
		max-width: none;

		&:first-child {
			z-index: $topImageLevel - 1;
		}
	}

	h1 {
		color: white;
		text-align: center;
		margin: 0;
		position: relative;
		top: 50%;
		transform: translateY(-50%);
		font-weight: 100;
		font-size: 3em;
		-webkit-animation-duration: 5s;
		-webkit-animation-name: fadeInFromNone;
	}

	@-webkit-keyframes fadeInFromNone {
		0% {
			opacity: 0;
		}

		1% {
			opacity: 0;
		}

		100% {
			opacity: 1;
		}
	}
}

#startup {
	width: 100%;
	height: 100%;
	position: absolute;
	z-index: $topImageLevel;
	background-color: $slideshowBackgroundColor;
}

#account {
	position: absolute;
	width: 100%;
	height: 100%;
	z-index: 3;
}

#accountMenu {
	@include modal;
	
	.loggedIn:not(.noPhotos) & {
		display: none;
	}
}

#settings {
	display: block;
	position: absolute;
	top: $globalPadding;
	right: $globalPadding;
	z-index: 4;
	color: white;
	line-height: 1;
	font-size: 2em;
}